.restaurent-details-con {
  background-color: #333333;
  width: 100%;
  height: 390px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.restaurent-details-card {
  width: 800px;
  height: 300px;
  /* border: 1px solid white; */
  margin-left: 220px;
  display: flex;
  /* border: 7px solid white; */
}

.restaurent-image {
  width: 440px;
  border-radius: 8px;
}

.restaurent-details-content {
  margin-left: 28px;
}

.restaurent-details-name {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 0px;
}

.restaurent-details-cuisine {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

.restaurent-details-location {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 23px;
}

.restaurent-loader-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  /* border: 1px solid black; */
  margin: auto;
}

.restaurent-details-rating-amount-con {
  /* border: 1px solid white; */
  display: flex;
  padding-right: 80px;
  padding-left: 0px;
  align-items: center;
  justify-content: space-between;
}

.ratings-review-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}

.ratings-container {
  display: flex;
  /* border: 1px solid white; */
  align-items: center;
}

.ratings-number {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'DM Sans';
  margin-left: 5px;
}

.reviews-count {
  color: #e2e8f0;
  font-size: 12px;
  font-weight: 700;
  font-family: 'DM Sans';
  margin-top: 0px;
}

.vr-line {
  border-left: 2px solid #e2e8f0;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .restaurent-loader-container {
    max-width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    /* border: 1px solid black; */
    margin: auto;
  }

  .restaurent-details-con {
    margin-top: 0px;
    min-width: 100%;
    height: 330px;
  }

  .vr-line {
    height: 40px;
  }

  .restaurent-details-card {
    width: 100%;
    height: 330px;
    margin-left: 0px;
    align-items: center;
    /* border: 7px solid white; */
    margin-right: 10px;
  }

  .restaurent-image {
    width: 200px;
    height: 200px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 38%;
    border-top-left-radius: 20%;
    margin-left: 0px;
  }

  .restaurent-details-content {
    /* border: 5px solid white; */
    margin-top: 80px;
    margin-left: 15px;
  }

  .restaurent-details-rating-amount-con {
    /* border: 5px solid yellow; */
    padding-right: 40px;
    justify-content: space-between;
    padding-right: 0px;
  }

  .restaurent-details-name {
    font-size: 16px;
  }

  .restaurent-details-cuisine {
    font-size: 12px;
    margin-bottom: 0px;
  }

  .restaurent-details-location {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 20px;
  }

  .ratings-number {
    font-size: 12px;
  }

  .reviews-count {
    font-size: 12px;
  }
}

.food-items-list {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  /* border: 1px solid orange; */
  padding-top: 20px;
  /* padding-left: 0px; */
  margin: auto;
}

@media screen and (max-width: 768px) {
  .food-items-list {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 3px; */
    margin: auto;
    /* border: 1px solid black; */
  }
}
