.popular-restaurent-con {
  position: relative;
  top: 200px;
  width: 86%;
  /* border: 3px solid black; */
  margin: auto;
}

.heading-dropdown-con {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  align-items: center;
}

.filter-container {
  display: flex;
  width: 170px;
  height: 24px;
  /* border: 1px solid blue; */
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.popular-restuarent-heading {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #183b56;
}

.restaurent-caption {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #64748b;
  padding-left: 5px;
  padding-right: 5px;
}

.filter-icon {
  font-size: 20px;
}

.dropdown {
  width: 112px;
  height: 24px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #475569;
  outline: none;
  cursor: pointer;
}

.dropdown-option {
  color: #475569;
  font-size: 16px;
  font-family: 'DM Sans';
}

.hr-line {
  color: #cbd2d9;
  border: 1px solid #cbd2d9;
  margin-top: 12px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .popular-restaurent-con {
    width: 100%;
    top: 150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 150px;
  }

  .heading-dropdown-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
  }

  .filter-container {
    margin-top: 15px;
  }

  .hr-line {
    display: none;
  }

  .dropdown {
    font-size: 16px;
  }

  .dropdown-option {
    font-size: 16px;
  }

  .popular-restuarent-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .restaurent-caption {
    font-size: 12px;
  }
}

.restrents-list {
  width: 94%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  padding: 0px;
  margin-bottom: 20px;
}

.restaurents-loader-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  /* border: 1px solid black; */
  margin: auto;
}

@media screen and (max-width: 768px) {
  .restrents-list {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
}

.pagination-container {
  height: 35px;
  display: flex;
  justify-content: center;
  align-self: center;
  /* border: 1px solid black; */
  align-items: center;
  margin-bottom: 45px;
}

.pagination {
  width: 60px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.left-btn {
  cursor: pointer;
}

.right-btn {
  cursor: pointer;
}

.left-btn:hover {
  stroke: black;
}

.right-btn:hover {
  stroke: black;
}

.pagination-number {
  color: #334155;
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.16px;
  text-align: center;
}

.logo-feature {
  cursor: pointer;
}
